In [2]:
# Import Libraries
%matplotlib notebook
%matplotlib inline
import os
import csv
import pandas as pd
import numpy as np

# The path to our CSV file
file = "Resources/spotify_data.csv"

# Read our CSV file
spotify_data_df = pd.read_csv(file)
spotify_data_df.head()

,Ad-Supported MAU (mil),Ad-Supported MAU change (mil),Premium Users (mil),Premium Users change(mil),Total Monthly Active Users (mil),Total Monthly Active Users change(mil),Total Revenue (m€),Total Revenue Q. Change (m€),Year,Quarter
0,90,0,71,0,157,0,"1,149.00",0,2017,4
1,99,9,75,4,170,13,"1,139.00",-10,2018,1
2,101,2,83,8,180,10,"1,273.00",134,2018,2
3,109,8,87,4,191,11,"1,352.00",79,2018,3
4,116,7,96,9,207,16,"1,495.00",143,2018,4

In [ ]:
#Spotify Premium user vs non premium between 2018-2021 Pie graph - kayla

In [ ]:
# % changes of 1st quarter 2018 - last quarter 2019 Bar graph - kayla

In [ ]:
# % changes of 1st quarter 2020 - last quarter 2021 Bar graph - ricky

In [ ]:
#Difference Between 2018-2019 data & 2020-2021 data bar graph  - ricky

In [ ]:
#Difference Between 2018-2019 data & 2020-2021 data Box plot /t test pvlaue - Aaron
spotdf = pd.DataFrame(data=spotify_data_df.data,columns=spotify_data_df.feature_names)
spotdf['Total Revenue (m)'] = boston_dataset.target
housing_data.head()

In [ ]:
#Bar Graph for revenue change per year 2018-2021 line graph - lizz

In [ ]:
#Bar Graph for revenue change per quarter 2018 line graph - lizz

In [ ]:
#Bar Graph for revenue change per quarter 2019 line graph -lizz

In [ ]:
#Bar Graph for revenue change per quarter 2020 line graph - lizz

In [ ]:
#Bar Graph for revenue change per quarter 2021 line graph - lizz